%div.navbar.navbar-inverse.navbar-fixed-top
  %div.navbar-header
    %a.navbar-brand Ampify
    %ul.nav.navbar-nav
      %li.active 
        %a One
      %li 
        %a Two
      %li
        %a Three

%div.container{:id => 'ampify'}
  %audio{:id => 'player', :src => '', :preload => 'metadata', :controls => 'controls', :autoplay => ''}

  %div.currently-playing Waiting for a track...
  %div.player-controls
    %i.player-icon.icon-3x.icon-backward
    %i.player-icon.icon-3x.icon-play
    %i.player-icon.icon-3x.icon-pause
    %i.player-icon.icon-3x.icon-stop
    %i.player-icon.icon-3x.icon-forward
    
  %h3 Albums:
  %div#albums

  %h3 Playlist:
  %div#playlist
