%nav.navbar-fixed-top{id: 'header'}
  %div.row{id: 'player'}
    %div.col-md-4
      %audio{id: 'audioPlayer', src: '', preload: 'metadata', controls: 'controls', autoplay: ''}

      %div{id: 'currentlyPlaying'}
        %div.currently-playing-title{id: 'currentlyPlayingTitle'} &nbsp;
        %div.currently-playing-time
          %span{id: 'currentlyPlayingTime'} &nbsp;
          %span /
          %span{id: 'currentlyPlayingTotal'} &nbsp;

    %div.col-md-4
      %div{id: 'playerControls'}
        %i.player-icon.icon-backward{id: 'prevBtn'}
        %i.player-icon.icon-play{id: 'playPauseBtn'}
        %i.player-icon.icon-forward{id: 'nextBtn'}

    %div.col-md-4
      %div{id: 'listControls'}
        %i.player-icon.icon-volume-up{id: 'muteBtn'}
        %i.player-icon.icon-random{id: 'random'}
        %i.player-icon.icon-repeat{id: 'repeat'}

      %div{id: 'volume' }
        %div.slider

      %div{id: 'progress'}
        %div.slider

%div.container{id: 'ampify'}
  %div.row
    %div.col-md-5{id: 'search'}
      %input.form-control{id: 'searchInput', type: 'text', placeholder: 'Search'}
        %ul.dropdown-menu.dropdown-toggle{id: 'searchResults'}
          %li.searchResultsBands.dropdown-header{role: 'presentation'} Bands
          %li.divider{role: 'presentation'}
          %li.searchResultsAlbums.dropdown-header{role: 'presentation'} Albums
          %li.divider{role: 'presentation'}
          %li.searchResultsTracks.dropdown-header{role: 'presentation'} Tracks

  %div.row
    %div.col-md-2
      %div.panel
        %h4.panel-heading Playlists
        %ul.list-group{id: 'playlists'}

    %div.col-md-7
      %div.panel
        %h4.panel-heading 
        %table.table.table-hover.table-condensed{id: 'playlist'}
    %div.col-md-2
      %div.panel{id: 'bandInfo'}
        %h4.panel-heading Band
        %ul.list-group{id: 'band'}
        %h6.panel-heading{id: 'bandAlbums'} Albums
        %h6.panel-heading Info
