%div.navbar.navbar-inverse.navbar-fixed-top
  %div.navbar-header
    %a.navbar-brand Ampify
    %ul.nav.navbar-nav
      %li.active
        %a One
  %div.navbar-right
    %div{id: 'player'}
      %audio{id: 'audioPlayer', src: '', preload: 'metadata', controls: 'controls', autoplay: ''}

      %span{id: 'currentlyPlaying'}

      %span.player-controls
        %i.player-icon.icon-backward{id: 'prevBtn'}
        %i.player-icon.icon-play{id: 'playPauseBtn'}
        %i.player-icon.icon-stop{id: 'stopBtn'}
        %i.player-icon.icon-forward{id: 'nextBtn'}

      %span.volume-controls
        %div.well
          %div.slider.slider-horiztonal
            %div.slider-track
              %div.slider-selection
              %div.slider-handle.round
              %div.slider-handle.round.hide

%div.container{id: 'ampify'}
  %input.form-control{id: 'search', type: 'text', placeholder: 'Search'}

  %h3 Albums in your playlist:
  %div#albums

  %h3 Playlist:
  %div#playlist
