%nav.navbar.navbar-default{role: 'navigation'}
  %div.navbar-header
    %a.navbar-brand Ampify

  %div.collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.form-group.row{id: 'search'}
      %li.dropdown.navbar-form
        %input.form-control{id: 'searchInput', type: 'text', placeholder: 'Search'}
        %ul.dropdown-menu{id: 'searchResults'}
          %li
            %a
              %div.searchResultsBands
              %div.searchResultsAlbums
              %div.searchResultsTracks

    %div.nav.navbar-nav.navbar-right
      %div{id: 'player'}
        %audio{id: 'audioPlayer', src: '', preload: 'metadata', controls: 'controls', autoplay: ''}
        %ul
          %span.player-controls
            %i.player-icon.icon-backward{id: 'prevBtn'}
            %i.player-icon.icon-play{id: 'playPauseBtn'}
            %i.player-icon.icon-stop{id: 'stopBtn'}
            %i.player-icon.icon-forward{id: 'nextBtn'}
          %div.volume{id: 'volume' }
            %div.slider

    %div.nav.navbar-nav.navbar-right
      %li.disabled
        %a
          %span{id: 'currentlyPlaying'}

%div.container{id: 'ampify'}

  %h3 Albums in your playlist:
  %div#albums

  %h3 Playlist:
  %div#playlist
