%h2= band.name
%div= band.url

%h3 albums:

%div= band

/ %div= tracks
%div
  -tracks.each do |track|
    %audio{ :controls => 'controls' }
      %source{:src => track.streaming_url, :preload => 'metadata', :controls => '' }