%h2= band.name
%div= band.url

%h3 albums:

%div= band

%audio{:id => 'player', :src => '', :preload => 'metadata', :controls => 'controls'}

%div
  -tracks.each do |track|
    %li{:id => track.track_id}
    